<main id='root'>
    <input id="city-input" type="text" placeholder="Enter city here" />
    <button id="grab-link">Grab Link</button>
    <span>Your link will show up:</span>
    <span id="link"></span>
</main>