<main id='root'>
    <nav class="nav-bar">
        <img id="logo" src=<%= image_url('71lbslogo.png') %>>
        <h1>Scraper Code Challenge</h1>
    </nav>
    
    <div id="splash-container">
        <div id="splash">
            <div class="left-container">
                <h1>Great housing deals in your area go unnoticed every day. Where are yours?</h1>
                <p>
                    Enter your city below to scrape and grab a CSV file of all of the 3 bedroom, 2 bathroom housing near your area from Craigslist. 
                    Data includes advertising title, rental price, location, and link to the listing. Please wait a moment for the 
                    CSV link to be generated. File will usually contain around 3000 entries.
                    <br />
                    <br />
                    <b>Update</b>: Limit to first 600 entries due to Heroku request restrictions.
                </p>
                <div id="scrape-city">
                    <input id="city-input" type="text" placeholder="Enter city here ex. tampa" />
                    <button id="grab-link">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <div id="download">
                    <span id="message">Download: </span>
                    <span id="link"></span>
                </div>
            </div>
        </div>
    </div>
    
    <footer> 
        <span><b>Created by Kevin Lu</b></span>
        <ul>
        <li>
            <div>
                <i class="fab fa-github-square"></i>
            </div>
            <a href="http://github.com/kluaa">             
                <span>Github</span>
            </a>
        </li>
        <li>
            <div>
                <i class="fab fa-linkedin"></i>
            </div>
            <a href="https://www.linkedin.com/in/kevin-lu-96b294191/">
                <span>LinkedIn</span>
                </a>
        </li>
        <li>
            <div>
                <i class="fab fa-angellist"></i>
            </div>
            <a href="https://angel.co/u/kevin-lu-45">
                <span>AngelList</span>
            </a>
        </li>
        <li>
            <div>
                <i class="fas fa-folder"></i>
            </div>
            <a href="http://kevinlu.netlify.com">
                <span>Portfolio</span>
            </a>
        </li>
        </ul>
    </footer>
</main>